@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared Style */
    .display-flex{
        display: flex;
}

/* dark02 */
    .text-gray{
        color: #424242;
    }
/* dark03 */
    .text-light-gray{
        color: #727272;
    }

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 21px 25px;
    border-radius: 8px;
    font-size: 1.30rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.text-primary{
    color: #FF900E;
}

/* Header Style */

/* Nav Related Style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: bold;
    font-size: 3rem;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.list-item{
    list-style: none;
    margin-right: 30px;
}

.list-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}


/* Banner Related Style */
.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}

.banner-img{
    width: 100%;
    padding-bottom: 45px;
}

/* Teams and Feature related style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* Responsive- smaller device */
@media screen and (max-width: 576px) {
    .navbar,
    .menu,
    .teams{
        flex-direction: column;
}
    .banner-description{
        margin: 0 30px;
        padding-bottom: 20px;
    }

    .team-img-container{
    grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
    margin-left: 30px;
}
}

/* Responsive - Medium device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
}
.our-features{
    margin-left:  50px 20px;
}
}